__pycache__/
*.py[cod]

.venv/
venv/
env/

.env
.env.*
.streamlit/secrets.toml

.cache/
.cache_huggingface/
huggingface/
sentence_transformers/

*.faiss
*.index

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
